footer {   
    display: flex;
    font-family: 'Bebas Neue', cursive;

}
footer .customer-footer {
    flex-direction: column;
    margin-left: 40px;
}
footer .customer-footer h3 {
    font-size: 26px;
    letter-spacing: 1.5px;
}
footer .customer-footer ul {
    list-style-type: none;
    font-size: 22px;
    padding-inline-start: 0;
    letter-spacing: 1.2px;
}
footer .customer-footer .shipping-bar {
    padding-top: 10px;
    padding-bottom: 10px;
}
footer .customer-footer .order-bar {
    padding-top: 10px;
    padding-bottom: 10px;
}
footer .s-ability-footer {
    flex-direction: column;
    margin-left: 15.8em;
    margin-right: 15em;

}
footer .s-ability-footer h3 {
    font-size: 26px;
    letter-spacing: 1.5px;
}
footer .s-ability-footer ul {
    list-style-type: none;
    font-size: 22px;
    padding-inline-start: 0;
    letter-spacing: 1px;
}
footer .s-ability-footer .prd-bar {
    margin-top: 10px;
}
footer .follow-bar {
    flex-direction: column;
    margin-left: 30em;
}
footer .follow-bar h3 {
    font-size: 26px;
    letter-spacing: 1.5px;
}
footer .follow-bar ul {
    list-style-type: none;
    font-size: 22px;
    padding-inline-start: 0;
    letter-spacing: 1px;
}
footer .follow-bar .fbk-bar {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen 
and (max-width: 812px) {
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    footer .customer-footer ul {
        display: none;
    }
    footer .s-ability-footer ul {
        display: none;
    }
    footer .follow-bar ul {
        display: none;
    }
    footer .customer-footer {
        flex-direction: row;
        margin-left: 0;
        color: white;
        background-color: black;
        border: 3px white;
    }
    footer .s-ability-footer {
        flex-direction: row;
        margin: 0;
        color: white;
        background-color: black;
        border: 3px white;
    }
    footer .follow-bar {
        flex-direction: row;
        margin: 0;
        color: white;
        background-color: black;
        border: 3px white;
    }
}