.item-container{
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}
.item {
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 250px;
    height: 500px;
    border: solid black 2px;
}
.item:hover {
    background-color: gray;
}
img {

    margin: 1em;
    height: 100%;
    width: 60%;
}
.red {
    background-color: red;
}