* {
    border: 1px solid red;
}

.item-container {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 250px;
    height: 500px;
    border: solid black 2px;
}
.item:hover {
    background-color: gray;
}

.item-box {
    display: flex;
    flex-direction: column;
}

.item-box .item-1 img {
    height: 300px;
    width: 300px;
}

img {
    margin: 1em;
    height: 100%;
    width: 60%;
<<<<<<< HEAD
}
.red {
    background-color: red;
=======
>>>>>>> b578eae6074e056783631a7f5b545bd1650b7e87
}