.items-container img {
    border-radius: 15px;
    margin-left: 10px;
    margin-bottom: -90px;
}

.items-container .items-box {
    display: inline-flex;
    flex-direction: column;
    margin-left: 50px;
}

.items-box {
    display: inline-flex;
    flex-direction: column;
    margin-left: 100px;
    width: 40%;
    margin-bottom: 40px;
    cursor: pointer;
}

.items-box:nth-of-type(2) {
    margin-right: 100px;
}

.items-box:nth-of-type(3) {
    margin-right: 40px;
}

.items-box:nth-of-type(5) {
    margin-left: 170px;
}

.items-box:nth-of-type(7) {
    margin-left: 150px;
}

.items-box:nth-of-type(8) {
    margin-left: 40px;
}

.items-box:nth-of-type(9) {
    margin-left: 160px;
}

.items-box:nth-of-type(12) {
    margin-left: 130px;
}

.items-box:nth-of-type(14) {
    margin-left: 130px;
}

.items-box:nth-of-type(10) {
    margin-left: 80px;
}

.items-box .items-price {
    display: inline-flex;
    font-size: 26px;
    letter-spacing: 1.3px;
    flex-grow: 1;
    margin-left: 160px;
}

.items-box .items-name {
    margin-left: 160px;
    letter-spacing: 1.3px;
}

.items-box .desc-cont .details {
    margin-left: 160px;
    font-size: 22px;
    letter-spacing: 1px;
}

.items-box .desc-cont {
    margin-top: 25px;
}

.items-box .desc-cont h4 {
    margin: 10px 0px;
    font-size: 35px;
    letter-spacing: 1.5px;
}

.items-box .items-image {
    display: inline-flex;
    height: 70%;
    width: 60%;
    flex-grow: 1;
    margin-left: 50px;
}

@media only screen 
and (max-width: 812px) {
    img:nth-child(1) {
        width: 80%;
        margin-left: 35px;
        margin-bottom: 40px;
    }
    img:nth-child(11) {
        width: 80%;
        margin-left: 35px;
        margin-bottom: 40px;
    }
    .items-box {
        flex-direction: column;
    }
    .items-container .items-box {
     display: inline;
     flex-direction: column;
    }
   
    .items-box:nth-of-type(2) {
        margin-right: 0;
    }
    
    .items-box:nth-of-type(3) {
        margin-right: 0;
    }
    
    .items-box:nth-of-type(5) {
        margin-left: 45px;
    }
    
    .items-box:nth-of-type(7) {
        margin-left: 40px;
    }
    
    .items-box:nth-of-type(8) {
        margin-left: 40px;
    }
    
    .items-box:nth-of-type(9) {
        margin-left: 40px;
    }
    
    .items-box:nth-of-type(12) {
        margin-left: 40px;
    }
    
    .items-box:nth-of-type(14) {
        margin-left: 45px;
    }
    
    .items-box:nth-of-type(10) {
        margin-left: 45px;
    }
    .items-box .desc-cont {
        margin-top: 0;
        margin-left: 115px;
    }
    .items-box .items-price {
        margin-left: 0;
    }
    .items-box .items-image {
        margin-left: 0;
    }
    .items-box .items-name {
        margin-left: 0;
    }
    .items-box .desc-cont .details {
        margin-left: 0;
    }
    .items-box .desc-cont h4 {
        font-size: 20px;
    }

    
}
