nav {
    font-family: 'Bebas Neue', cursive;
    display: flex;
}
a { 
   margin-left: 5em;   
   text-decoration: none;
   color: black;
}
a.title.active {
    text-decoration: none;
    letter-spacing: 1.3px;
    margin: 20px;
    font-size: 40px;
    color: black;
    display: flex;
}

nav .main-bar {
    font-size: 28px;
    list-style-type: none;
    display: flex;  
    letter-spacing: 1px;
    margin-left: 4em;
}
nav .main-bar li {
    margin: 0px 4.4em;
}

nav .login-bar {
    font-size: 26px;
    list-style-type: none;
    display: flex;
    letter-spacing: .7px;
    margin-left: 3em;
}

nav .login-bar li {
    margin: 0px 3em;
}

@media only screen 
and (max-width: 812px) {
    nav {
        flex-direction: column;
        border: 3px solid black;
        margin-bottom: 30px;
    }
    nav .main-bar {
        flex-direction: column;
    }
    nav .main-bar li:nth-child(3){
        display: none;
    }
    nav .login-bar li:nth-child(2){
        display: none;
    }
    a.title.active {
        background-color: black;
        color: white;
        flex-direction: column;
        text-align: center;
        margin: 0;
    }
    a {
        text-align: center;
        margin-left: 0;  
    }
    nav .login-bar {
        margin-left: 0;
    }
    nav .main-bar {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    nav .main-bar li:nth-child() {
        color: red;
    }
    .login-bar {
        margin: 0;
    }

}

