input {
    margin-top: 20px;
    height: 30px;
    width: 35em;
    border: 1.5px solid black;
}
.sup-container {
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
}
.sup-container .form-container h2 {
    font-size: 36px;
    letter-spacing: 1.3px;
}
.sup-container .form-container .sup-username {
    margin-bottom: 20px;
}
.sup-container .form-container .sup-username label {
    font-size: 22px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
}
.sup-container .form-container .sup-email label {
    font-size: 22px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
}
.sup-container .form-container .sup-pwd label {
    font-size: 22px;
    display: flex;
    letter-spacing: 1px;
    flex-direction: row;
}
.sup-container .form-container .sup-pwdconf label {
    font-size: 22px;
    display: flex;
    letter-spacing: 1px;
    flex-direction: row;
}
.sup-container .form-container .sup-email {
    margin-bottom: 20px;
}
.sup-container .form-container .sup-pwd {
    margin-bottom: 20px;
}

@media only screen 
and (max-width: 812px) {
    input {
        width: 300px;
        margin-left: 20px;
    }
    label {
        margin-left: 20px;
    }
    .sup-container .form-container h2 {
        margin-left: 20px;
    }
    .sup-container {
        margin-bottom: 30px;
    }
}


