.slider{
    width: 1300px;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
}
.slider .slider-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider .slider-wrapper .slide {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.slider .left-arrow {
   display: flex;
   position: absolute;
   top: 160%;
}
.slider .right-arrow {   
   display: flex;
   position: absolute;
   top: 160%;
}

@media only screen 
and (max-width: 812px) {
    .slider {
        height: 275px;
    }
    .slider .slider-wrapper {
        display: none;
    }
    .slider .left-arrow {
        display: none;
    }
    .slider .right-arrow {
        display: none;
    }
}

